.App {
  width: 35%;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: #1a1b21;
  color: #fff;
  border: 1px solid #23252c;
  border-radius: 14px;
  margin: auto;
}
